{% extends 'base.html' %}

{% block title %} Delete product {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Delete {{ product }}</h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Are you sure you want to delete {{ product }}?</p>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{% url 'list-of-products' %}" class="btn btn-secondary">No</a>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}